{% extends "::admin.html.twig" %}
{% block stylesheets %}
     {{ parent() }}
{% endblock %}
{% block breadcrumb %} 
    <a class="breadcrumb" href="{{ path('admin_module_index') }}">Modules</a>  
    <a class="breadcrumb" href="#!">Modifier le module "{{module.nom}}"</a>{% endblock %}
{% block body %}
    {% include "::formback.html.twig" with {"form":edit_form} %}
    <div class="row">
        <div class=" col s12 ">    
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <center><button class='btn green waves-effect waves-light' type="submit"><i class="material-icons left">save</i>Enregistrer</button></center>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}

