{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/vendor/froala/froala.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
{% endblock %}
{% block breadcrumb %}
    <a class="breadcrumb" href="{{ path('admin_module_index') }}">Modules</a>
    <a class="breadcrumb" href="#!">Mes modules</a>
{% endblock %}
{% block body %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <hr />
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
           {{ flash_message }}
       </div>
    {% endfor %}    
    <hr />       
    <div class="row">
        <div class="col s12">
            <table class="table striped bordered responsive-table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Nom</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in modules %}
                        <tr id="mod-{{module.id}}">
                            <td>{{ module.Nom }}</td>
                            <td>{{ module.Description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src='{{asset('js/vendor/bootbox/bootbox.min.js')}}'>
    </script><script type='text/javascript' src='{{asset('js/admin/module/generator.js')}}'></script>
{% endblock %}
