{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    <a class="breadcrumb" href="{{ path('admin_module_index') }}">Module</a>
    <a class="breadcrumb" href="#!">Création d'un module</a>
{% endblock %}

{% block body %}
    {% include "::formback.html.twig" with {"form":form} %}
    <div class="row">
        <div class="col s12">
            <h5>Sélectionnez un type de module :</h5>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <center><button class='btn green waves-effect waves-light' type="submit"><i class="material-icons left">save</i>Valider</button></center>
            {{ form_end(form) }}
         </div>
    </div>
{% endblock %}
