{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    <a class="breadcrumb" href="{{ path('admin_module_index') }}">Module</a>
    <a class="breadcrumb" href="#!">Création d'un module</a>
{% endblock %}

{% block body %}
    <h1>Module creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_module_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
