{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    <a class="breadcrumb" href="{{ path('admin_module_index') }}">Module</a>
    <a class="breadcrumb" href="#!">Détail du Module {{ module.nom }}</a>
{% endblock %}
{% block body %}
    <h1>Module</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ module.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ module.nom }}</td>
            </tr>
            <tr>
                <th>type</th>
                <td>{{ module.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_module_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_module_edit', { 'id': module.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
