{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/vendor/froala/froala.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
{% endblock %}
{% block breadcrumb %}
    <a class="breadcrumb" href="{{ path('admin_article_index') }}">Articles</a>
    <a class="breadcrumb" href="#!">Mes articles</a>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col s12">
            {{ form_start(form_category) }}
                <div class="row valign-wrapper no-marg-bottom">
                    <div class="col s8 l6 valign">
                    {{ form_widget(form_category,{ 'attr': {'class': 'form-control form-control-sm'} }) }}
                    </div>
                    <div class="col s2 l1 valign">
                        <button class='btn blue waves-effect waves-light contraintwidth' type="submit" title="filter"><i class="material-icons  ">tune</i></button>
                    </div>
                    <div class="col s2 l5 valign">
                        <a role="button" class="btn waves-effect waves-light green pull-right contraintwidth-s contraintwidth-m" href="{{ path('admin_article_new') }}"><i class="material-icons left medium">add</i><span class="hide-on-med-and-down">Créer un article</span></a>
                    </div>
                </div>
            {{ form_end(form_category) }}
        </div>
    </div>
    {% for flash_message in app.session.flashBag.get('success') %}
        <hr />
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
           {{ flash_message }}
       </div>
    {% endfor %}    
    <hr />       
    <div class="row">
        <div class="cols12">
            <table class="table striped bordered responsive-table">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-right">#</th>
                        <th>Titre</th>
                        <th>Créé le</th>
                        <th>Auteur</th>
                        <th>Catégorie</th>
                        <th>Etat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr id="art-{{article.id}}">
                        <td class="text-right"><a href="{{ path('admin_article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                        <td>{{ article.titre }}</td>
                        <td class="text-right">{% if article.dateCreation %}{{ article.dateCreation|date('d-m-Y') }}{% endif %}</td>
                        <td>{{ article.auteur }}</td>
                        <td>{% if article.category != null %}{{article.category.nom}}{% else %}Non catégorisé{% endif %}</td>
                        <td class="text-left">
                                {% if article.etat %}
                                    <i title="Active" class="material-icons left text-green">done</i>
                                {% else %}
                                    <i title="Inactive" class="material-icons left text-red">cancel</i>
                                {% endif %}
                            </td>
                        <td class="text-right">
                            <a data-hover="true" data-constrainwidth="false" class='dropdown-button btn blue contraintwidth' href='#' data-activates='dropdown-action-{{article.id}}'><i class="material-icons">build</i></a>
                            <ul id='dropdown-action-{{article.id}}' class='dropdown-content'>
                                <li><a href="{{ path('admin_article_show', { 'id': article.id }) }}"><i class="material-icons left">search</i>Afficher</a></li>
                                <li><a class="action-blue" href="{{ path('admin_article_edit', { 'id': article.id }) }}"><i class="material-icons left">mode_edit</i>Modifier</a></li>
                                <li><a class="action-red" href="#" onclick="deleteAjaxArticle({{article.id}},'{{ path('article_ajax_delete', { 'id': article.id }) }}')"><i class="material-icons left">delete</i>Supprimer</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src='{{asset('js/vendor/bootbox/bootbox.min.js')}}'>
    </script><script type='text/javascript' src='{{asset('js/admin/article/generator.js')}}'></script>
{% endblock %}