{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/vendor/froala/froala.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
{% endblock %}
{% block breadcrumb %} <a class="breadcrumb" href="{{ path('admin_article_index') }}">Article</a> /  Créer un article{% endblock %}
{% block body %}
    <div class="row">
        <div class="col s12 m12 l12">
            <a role="button" class="btn green pull-right" href="{{ path('admin_article_index') }}"><i class="fa fa-arrow-left"></i> Revenir à la liste</a>
        </div>
    </div>
    {% include "::formback.html.twig" with {"form":form} %}
    <div class="row">
        <div class="col s12 m12 l12">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                
                
                <label class="control-label required" for="articlebundle_page_kw">Mots-clés</label>  
                <div class="tagify-container">
                    <input type="text" id="articlebundle_page_kw_fake" class="form-control">
                </div>
                <input type="hidden" 
                    name="articlebundle_page_final" 
                    id="articlebundle_page_final">
                <br />
                <input class="btn green pull-right" type="submit" value="Enregistrer" />
            {{ form_end(form) }}
        </div>
    </div>
        
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src='{{asset('js/vendor/bootbox/bootbox.min.js')}}'></script>
    <script type='text/javascript' src='{{asset('js/vendor/froala/froala.min.js')}}'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js'></script>
    <script type='text/javascript' src='{{asset('js/admin/article/init.js')}}'></script>
{% endblock %}