{% extends '::admin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}{% endblock %}
{% block breadcrumb %}
    <a class="breadcrumb" href="{{ path('admin_article_index') }}">Article</a>
    <a class="breadcrumb" href="#!">Détail de l'article " <strong>{{ article.titre }}</strong>"</a>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="cols12">
            <a role="button" class="btn waves-effect waves-light pull-right" href="{{ path('admin_article_index') }}"><i class="material-icons left">skip_previous</i> Revenir à la liste</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="cols12">
            <table class="table">
                <tbody>
                    <tr>
                        <th>N°</th>
                        <td>{{ article.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ article.titre }}</td>
                    </tr>
                    <tr>
                        <th>Datecreation</th>
                        <td>{% if article.dateCreation %}{{ article.dateCreation|date('d-m-Y H\\hi') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Auteur</th>
                        <td>{{ article.auteur }}</td>
                    </tr>
                    <tr>
                        <th>Résumé</th>
                        <td>{{ article.resume}}</td>
                    </tr>
                    <tr>
                        <th>Contenu</th>
                        <td>{{ article.contenu|raw}}</td>
                    </tr>
                    <tr>
                        <th>Mots-clés</th>
                        <td>
                            {% if article.getKeywords()|length >0 %}
                                <ul>
                                    {% for k in article.getKeywords() %}
                                        <li>{{k.value}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Etat</th>
                        <td>{% if article.etat %}
                                    <i title="Active" class="material-icons left text-green">done</i>
                                {% else %}
                                    <i title="Inactive" class="material-icons left text-red">cancel</i>
                                {% endif %}
                                </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="fixed-action-btn ">
        <a class="btn-floating btn-large purple">
            <i class="large material-icons">build</i>
        </a>
        <ul>
          <li>
              <a class="btn-floating blue tooltipped" 
                 data-position="left" data-delay="50" data-tooltip="Modifier"
                 title="Modifier" href="{{ path('admin_article_edit', { 'id': article.id }) }}">
                  <i class="material-icons">mode_edit</i>
              </a>
          </li>
          <li>
              {{ form_start(delete_form) }}
                    <button title="Supprimer" type="submit" class="btn-floating red tooltipped"
                            data-position="left" data-delay="50" data-tooltip="Supprimer">
                        <i class="material-icons">delete</i>
                    </button>
             {{ form_end(delete_form) }}
          </li>
        </ul>
      </div>   
{% endblock %}
