<div class="row">
	<div class="col s6 m4">
		<div class="card horizontal">
			<div class="card-image">
                            <img class="responsive-img" src="{{asset('/images/admin/pages.png')}}" alt="Pages publiées"/>
			</div>
			<div class="card-stacked">
				<div class="card-content">
                                    <p>
                                        <span class="huge">{{pages|length}}</span>
                                        <small>Page(s)</small>
                                        <ul>
                                            {% for p in pages %}
                                                {% if  loop.index <4 %}
                                                    <li><a href="{{path('page_show',{id:p.id})}}">{{p.titre}}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </p>
				</div>
				<div class="card-action">
					<a href="{{path('page_list')}}">Tout afficher</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col s6 m4">
		<div class="card horizontal">
			<div class="card-image">
                            <img class="responsive-img" src="{{asset('/images/admin/newspaper.png')}}" alt="Articles publiés"/>
			</div>
			<div class="card-stacked">
                            <div class="card-content">
                                <p>
                                    <span class="huge">{{articles|length}}</span>
                                    <small>Article(s)</small>
                                    <ul>
                                        {% for a in articles %}
                                            {% if  loop.index <4 %}
                                                    <li><a href="{{path('admin_article_show',{id:a.id})}}">{{a.titre}}</a></li>
                                                {% endif %}
                                        {% endfor %}
                                    </ul>
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="{{path('admin_article_index')}}">Tout afficher</a>
                            </div>
			</div>
		</div>
	</div>
	<div class="col s6 m4">
		<div class="card horizontal">
			<div class="card-image">
                            <img class="responsive-img" src="{{asset('/images/admin/engine.png')}}" alt="Articles publiés"/>
			</div>
			<div class="card-stacked">
                            <div class="card-content">
                                <p>
                                    <span class="huge">{{modules|length}}</span>
                                    <small>Module(s)</small>
                                    <ul>
                                        {% for m in modules %}
                                            {% if  loop.index <4 %}
                                                    <li><a href="{{path('admin_module_show',{id:m.id})}}">{{m.nom}}</a></li>
                                                {% endif %}
                                        {% endfor %}
                                    </ul>
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="{{path('admin_module_index')}}">Tout afficher</a>
                            </div>
			</div>
		</div>
	</div>
</div>