{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/vendor/froala/froala.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
{% endblock %}
{% block breadcrumb %}
    <a class="breadcrumb" href="{{ path('admin_category_index') }}">Catégories</a>
    <a class="breadcrumb" href="#!">Mes catégories</a>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="cols12">
            <a role="button" class="btn waves-effect waves-light green pull-right" href="{{ path('admin_category_new') }}"><i class="material-icons left medium">add</i> Créer une catégorie</a>
        </div>
    </div>
    {% for flash_message in app.session.flashBag.get('success') %}
        <hr />
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
           {{ flash_message }}
       </div>
    {% endfor %}    
    <hr />      
    
    <div class="row">
        <div class="cols12">
            <table class="table striped bordered responsive-table">
                <thead class="thead-inverse">
                    <tr>
                        <th>
                            <input type="checkbox" name="selected_category_master" id="selected_category_master" onclick="checkUncheckAll()">
                            <label for="selected_category_master"></label>
                        </th>
                        <th>Nom</th>
                        <th>Parent</th>
                        <th>Auteur</th>
                        <th>Créée le</th>
                        <th>Etat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    {% if category.depth==0 %}
                        <tr id="cat-{{category.id}}">
                            <td>
                                <input class="set_selection" type="checkbox" id="chk_{{category.id}}" name="selected_category[]" value="{{category.id}}">
                                <label for="chk_{{category.id}}"></label>
                            </td>
                            <td>{{ category.nom }}</td>
                            <td>{% if category.getCategoryParente() != null %}{{ category.getCategoryParente().getNom() }}{% endif %}</td>
                            <td>{{ category.auteur }}</td>
                            <td>{{ category.dateCreation| date('d/m/Y') }}</td>
                            <td class="text-left">
                                {% if category.isActive %}
                                    <i title="Active" class="material-icons left text-green">done</i>
                                {% else %}
                                    <i title="Inactive" class="material-icons left text-red">cancel</i>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <td class="text-right">
                                    <a data-hover="true" data-constrainwidth="false" class='dropdown-button btn blue contraintwidth' href='#' data-activates='dropdown-action-{{category.id}}'><i class="material-icons">build</i></a>
                                    <ul id='dropdown-action-{{category.id}}' class='dropdown-content'>
                                        <li><a class="" href="{{ path('admin_category_show', { 'id': category.id }) }}"><i class="material-icons left">search</i> Afficher</a></li>
                                        <li><a class="action-blue" href="{{ path('admin_category_edit', { 'id': category.id }) }}"><i class="material-icons left">mode_edit</i> Modifier</a></li>
                                        <li><a class="action-red" href="#" onclick="deleteAjaxCategory({{category.id}},'{{ path('category_ajax_delete', { 'id': category.id }) }}')"><i class="material-icons left">delete</i> Supprimer</a></li>
                                    </ul>
                                </td>
                                
                            </td>
                        </tr>
                        {% if category.getCategoryEnfants()|length>0%}
                            {% include 'ArticleBundle:article:subCategory.html.twig' with {'Parent': category,'Depth':1} %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10">
                            <a data-hover="true" data-beloworigin="true" data-constrainwidth="false" class='dropdown-button btn blue' href='#' data-activates='dropdown-action-group'>Pour la sélection</a>
                            <ul id='dropdown-action-group' class='dropdown-content'>
                                <li><a class="action-purple" href="#" onclick="changeStateAjaxCategories('{{path('category_ajax_change_state')}}',false)"><i class="material-icons left">cancel</i> Désactiver la sélection</a></li>
                                <li><a class="action-green" href="#" onclick="changeStateAjaxCategories('{{path('category_ajax_change_state')}}',true)"><i class="material-icons left">done</i> Activer la sélection</a></li>
                                <li><a class="action-red" href="#" onclick="deleteAjaxCategories('{{path('category_ajax_delete', { 'id': 0 })}}')"><i class="material-icons left">delete</i> Supprimer la sélection</a></li>
                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src='{{asset('js/vendor/bootbox/bootbox.min.js')}}'>
    </script><script type='text/javascript' src='{{asset('js/admin/category/generator.js')}}'></script>
{% endblock %}