{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/vendor/froala/froala.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
{% endblock %}
{% block breadcrumb %}
    <a class="breadcrumb" href="{{ path('admin_category_index') }}">Catégorie </a>
    <a class="breadcrumb" href="#!">Créer une catégorie</a>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="cols12">
            <a role="button" class="btn waves-effect waves-light pull-right" href="{{ path('admin_category_index') }}"><i class="material-icons left">skip_previous</i> Revenir à la liste</a>
       </div>
    </div> 
    {% include "::formback.html.twig" with {"form":form} %}
    <div class="row">
        <div class="cols12">
            <div class="panel panel-pink">
                <div class="panel-heading">
                    <i class="material-icons">folder</i>
                    <span class="sub-panel-title">Création d'une nouvelle catégorie</span>
                </div>
                <div class="panel-body panel-form">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                </div>
                <div class="panel-footer">  
                        <center><button class='btn green waves-effect waves-light' type="submit"><i class="material-icons left">save</i>Enregistrer</button></center>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}
