{% extends "::admin.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/blocks/login.css') }}">
{% endblock %}
{% block bodyclass %}hold-transition login-page{% endblock %}
{% block body %}
    
        <div class="col s8 m6 offset-s2 offset-m3 animated fadeIn logocontainer">
            <div class="login-title cols12">
                Administration du site : {{siteName}}
            </div>
            
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <center><strong>Vous êtes déja connecté</strong></center>
            {% else %}
                <span class="actionName reversed animated bounceInDown">Connexion</span>
                <!-- /.login-logo -->
                <div class="col s12nopadding">
                  <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="col s12login-box-body">
                            <div class="form-group has-feedback">
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control input-medium" required="required" placeholder="{{ 'security.login.username'|trans }}"/>
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" id="password" name="_password" required="required" class="form-control input-medium" placeholder="{{ 'security.login.password'|trans }}">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="cols12">        
                            {% if error %}
                                <div class="row animated rubberBand">
                                    <div class="cols12">
                                        <p class="alert-danger alert">
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </p>
                                    </div>
                                </div>    
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="cols12">
                                <div class="col sm4 offset-s4">
                                    <button type="submit" class="btn green waves-effect waves-light" id="_submit" name="_submit"/>{{ 'security.login.submit'|trans }}</button>
                                </div>
                            </div>
                        </div>
                  </form>
                </div>
            {% endif %}
    
    </div>
  
{% endblock body %}

