{% extends '::admin.html.twig' %}

{% block body %}

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imageModule in imageModules %}
            <tr>
                <td><a href="{{ path('custom_module_image_show', { 'id': imageModule.id }) }}">{{ imageModule.id }}</a></td>
                <td>{{ imageModule.url }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('custom_module_image_show', { 'id': imageModule.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('custom_module_image_edit', { 'id': imageModule.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('custom_module_image_new') }}">Create a new imageModule</a>
        </li>
    </ul>
{% endblock %}
