<div class="panel panel-pink">
    <div class="panel-heading">
        <i class="material-icons">description</i>
        <span class="sub-panel-title">{{title}}</span>
    </div>
    <div class="panel-body panel-form">
        {{ form_start(form) }}

            {{ form_label(form.titre) }}
            {{ form_widget(form.titre) }}

            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}

            <label class="control-label required" for="pagebundle_page_titre">Mots-clés</label>  
            <div class="tagify-container">
                {% if page.getKeywords()|length >0 %}
                    {% for k in page.getKeywords() %}
                        <div role="alert" class="kw alert alert-dismissible fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">×</span></button>{{k.value}}
                        </div>
                    {% endfor %}
                {% endif %}
                <input type="text" id="pagebundle_page_keywords_fake" class="form-control">
            </div>

            <input 
                type="hidden" 
                name="pagebundle_page_keywords_final" 
                id="pagebundle_page_keywords_final"
                {% if page.getKeywords()|length >0 %}value="{% for k in page.getKeywords() %}{{k.value~';'}}{% endfor %}"{% endif %}>
                {{ form_label(form.isHomepage) }}
                {{ form_widget(form.isHomepage) }}
        </div>
        <div class="panel-footer">  
            <center><button class='btn green waves-effect waves-light' type="submit"><i class="material-icons left">save</i>Enregistrer</button></center>
        {{ form_end(form) }}
        </div>
    </div>
