{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href='{{asset('css/vendor/froala/froala.min.css')}}' rel="stylesheet" type="text/css"/>
{% endblock %}
{% block breadcrumb %}
    <a class="breadcrumb" href="{{ path('custom_module_html_index') }}">Mes modules HTML</a>
    <a class="breadcrumb" href="#!">Modification d'un module</a>  
{% endblock %}
{% block body %}
    <div class="row">
        <div class="cols12">
            <a role="button" class="btn waves-light waves-effect pull-right" href="{{ path('custom_module_html_index') }}"><i class="material-icons left">skip_previous</i> Revenir à la liste</a>
        </div>
    </div>
    {% include "::formback.html.twig" with {"form":edit_form} %}
    <div class="row">
        <div class="cols12">    
            <div class="panel panel-pink">
                <div class="panel-heading">
                    <i class="material-icons">extension</i>
                    <span class="sub-panel-title">Modification du module "{{hTMLModule.description}}"</span>
                </div>
                <div class="panel-body panel-form">

                    {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <div class="panel-footer">  
                        <center><button class='btn green waves-effect waves-light' type="submit"><i class="material-icons left">save</i>Enregistrer</button></center>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src='{{asset('js/vendor/froala/froala.min.js')}}'></script>
    <script type='text/javascript' src='{{asset('js/admin/module/main.js')}}'></script>
{% endblock %}