{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/themes/admin/generator.css') }}">
    <link rel="stylesheet" href="{{ asset('css/vendor/froala/froala.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
{% endblock %}
{% block breadcrumb %} <a class="breadcrumb" href="{{ path('page_list') }}">Pages</a>  
    <a class="breadcrumb" href="#!">Modifier la page {{page.titre}}</a>{% endblock %}
{% block body %}
    {% include "::formback.html.twig" with {"form":form} %}
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3">
                    <a class="active" href="#ihm">Mise en page</a>
                </li>
                <li class="tab col s3">
                    <a href="#seo">Titre / Description</a>
                </li>
            </ul>
            <div class="col s12 innerTab" id="ihm">{% include "@PageViews/page/tabs/ihm.html.twig" %}</div>
            <div class="col s12 innerTab" id="seo">{% include "@PageViews/page/tabs/seo.html.twig" %}</div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src='{{asset('js/vendor/bootbox/bootbox.min.js')}}'></script>
    <script type='text/javascript' src='{{asset('js/vendor/froala/froala.min.js')}}'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js'></script>
    <script type='text/javascript' src='{{asset('js/admin/page/generator.js')}}'></script>
{% endblock %}