{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block breadcrumb %}
    <a class="breadcrumb" href="{{ path('page_list') }}">Pages</a>
    <a class="breadcrumb" href="#!">Ajout d'une nouvelle page</a>
{% endblock %}
{% block body %}
    {#<div class="row">
        <div class="cols12">
           <a role="button" class="btn waves-effect waves-light pull-right" href="{{ path('page_list') }}"><i class="material-icons left">skip_previous</i> Revenir à la liste</a>
        </div>
    </div>#}
    {% include "::formback.html.twig" with {"form":form} %}
    
    <div class="row">
        <div class="col s12">
            {% include "@PageViews/page/tabs/seo.html.twig" with{"title":"Ajout d'une nouvelle page"} %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src='{{asset('js/admin/page/generator.js')}}'></script>
{% endblock %}