{% extends "::admin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/themes/admin/generator.css') }}">
    <link rel="stylesheet" href="{{ asset('css/vendor/froala/froala.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
{% endblock %}
{% block breadcrumb %}
    <a class="breadcrumb" href="{{ path('page_list') }}">Pages</a>
    <a class="breadcrumb" href="#!">Détail de la page " <strong>{{ page.titre }}</strong>"</a>
{% endblock %}
{% block body %}
    {#<div class="row">
         <div class="col s12">
            <a role="button" class="btn waves-effect waves-light pull-right" href="{{ path('page_list') }}"><i class="material-icons left">skip_previous</i> Revenir à la liste</a>
        </div>
    </div>#}
     <div class="row">
        <div class="col s12">
            <div class="panel panel-pink">
                <div class="panel-heading">
                    <i class="material-icons">description</i>
                    <span class="sub-panel-title">Détail de la page " <strong>{{page.titre}}</strong>"</span>
                </div>
                <div class="panel-body panel-form panel-pink">
                    <table class="table table-show">
                        <tbody>
                            <tr>
                                <th>Description</th>
                                <td>{{ page.description }}</td>
                            </tr>
                            <tr>
                                <th>Mots-clés</th>
                                <td>
                                    {% if page.getKeywords()|length >0 %}
                                        <ul>
                                            {% for k in page.getKeywords() %}
                                                <li>{{k.value}}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Auteur</th>
                                <td>{{ page.auteur }}</td>
                            </tr>
                            <tr>
                                <th>Créée le</th>
                                <td>{% if page.creationDate %}{{ page.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn ">
        <a class="btn-floating btn-large purple">
            <i class="large material-icons">build</i>
        </a>
        <ul>
          <li>
              <a class="btn-floating blue tooltipped" 
                 data-position="left" data-delay="50" data-tooltip="Modifier"
                 title="Modifier" href="{{ path('page_edit', { 'id': page.id }) }}">
                  <i class="material-icons">mode_edit</i>
              </a>
          </li>
          <li>
              {{ form_start(delete_form) }}
                    <button title="Supprimer" type="submit" class="btn-floating red tooltipped"
                            data-position="left" data-delay="50" data-tooltip="Supprimer">
                        <i class="material-icons">delete</i>
                    </button>
             {{ form_end(delete_form) }}
          </li>
        </ul>
      </div>
{% endblock %}
